.wrapper {
  display: flex;
  flex-direction: column;

  input {
    width: 300px;
    line-height: 40px;
    font-size: 18px;
    margin: 0 auto;
    border-radius: 20px;
    padding-left: 15px;
  }
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  li {
    list-style: none;
  }
}
