.search-input,
.search-button {
  font-size: 18px;
  line-height: 40px;
  border-radius: 20px;
  padding: 0 15px;
}
.search-button {
  margin-left: 16px;
  background-color: transparent;
}

.search-input {
  width: 300px;
  margin: 0 auto;
}
