@import "../../styles/constants.scss";

.wrapper {
  margin: 20px;
  padding: 5px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
  width: 200px;
  border-bottom: $borderW solid $cyan;
}

.list {
  display: flex;

  &-item {
    margin-right: 10px;
    text-decoration: none;
  }
}

.active {
  color: red;
}
