@import "../../styles/constants.scss";

$height: 500px;

.wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;

  textarea {
    background-color: $backgroundColor;
    border: 2px solid $cyan;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    color: $dark;

    &::placeholder {
      color: $dark;
    }
  }

  @media screen and (max-width: 600px) {
    width: 300px;
  }
}

.btn-wrapper {
  display: flex;
}

.note {
  width: 550px;
  display: flex;
  margin-top: 20px;
  padding: 0px 20px 20px 20px;
  border-bottom: $borderW solid $cyan;

  @media screen and (max-width: 600px) {
    width: 300px;
    flex-direction: column;
  }
}

.review {
  width: 400px;
  margin-right: 20px;
  border-right: $borderW solid $cyan;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: 600px) {
    width: 300px;
    border-right: none;
  }
}

.film {
  display: flex;
  flex-direction: column;
}

.active {
  background-color: rgba(128, 128, 128, 0.205);
  box-shadow: 10px 5px 20px 1px rgba(41, 32, 218, 0.449);
}
