@import "../styles/constants.scss";

$height: 500px;

.wrapper {
  display: flex;
  flex-direction: column;
  width: 500px;

  textarea {
    background-color: $backgroundColor;
    border: 2px solid $cyan;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
  }
}

.btn-wrapper {
  display: flex;
}

.note {
  width: 550px;
  display: flex;
  margin-top: 20px;
  border-top: $borderW solid $cyan;
}

.review {
  width: 400px;
  margin-right: 20px;
  margin-top: 20px;
  border-right: $borderW solid $cyan;
  box-sizing: border-box;
  padding: 10px;
}

.film {
  display: flex;
  flex-direction: column;
}
