@import "../styles/constants.scss";

$height: 500px;

.wrapper {
  display: flex;
  flex-direction: column;
  width: 800px;

  textarea {
    background-color: $backgroundColor;
    border: 2px solid $cyan;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
  }
}

.btn-wrapper {
  display: flex;
}

// .add-btn {
//   width: 50px;
//   background-color: seagreen;
//   border-radius: 10px;
//   margin-top: 10px;
//   margin-left: 10px;
//   padding: 5px;
//   border: none;
//   color: $dark;
//   font-size: 16px;

//   &:hover {
//     cursor: pointer;
//     animation: addBtnAnimation 1s ease-in-out;
//   }

//   @keyframes addBtnAnimation {
//     0% {
//       transform: scale(1);
//     }
//     25% {
//       transform: scale(1.1) rotate(-10deg);
//     }
//     50% {
//       transform: scale(1.1) rotate(10deg);
//     }
//     75% {
//       transform: scale(1.1) rotate(-10deg);
//     }
//     100% {
//       transform: scale(1) rotate(0deg);
//     }
//   }
// }

.note {
  width: 550px;
  display: flex;
  margin-top: 20px;
  border-top: $borderW solid $cyan;
}

.review {
  width: 400px;
  margin-right: 20px;
  margin-top: 20px;
  border-right: $borderW solid $cyan;
  box-sizing: border-box;
  padding: 10px;
}

.film {
  display: flex;
  flex-direction: column;
}
